.section{
    background-color: #abc2df;
    padding: 2em;
}
.section2{
    padding: 2em;
    max-width: 90vw;
    background-color: #ccd6bb;
}

ol.earth{
    list-style-image:url('imgs/globe-icon.png');
}


img.small{
    max-width: min(30vw, 250px);
    margin: 10px 30px;
    border: #6e4b80 3px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

img.medium{
    max-width: min(50vw, 400px);
    border: #152939 5px solid;
    border-radius: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

img.large{
    max-width: 50vw;
    border: #152939 5px solid;
    margin: 0 auto;
    display:block;
}

img.gallery{
    max-width: 40em;
    max-height: 20em;
    border: #152939 5px solid;
    display: block;
}

div.pagebox{
    background-color: #8bb4d8;
    padding: 5vh 10vw;
}


div.navbar{
    background-color: midnightblue;
    padding: 5px;
    color: white;
    font-size: 18pt;
}

div.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10em;
    gap: 2em;
}

div.splitbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    padding: 0 2em;
}


div.testimonial{
    background-color: #FFFFA8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12pt;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
    align-self: center;
    padding-left: 50px;
}

p.caption{
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
}


a, a:visited, a:hover{
        color:#A4A400;
        font-size: 16pt;
        text-align: center;
}

button{
    background: none;
    border: none;
    border-radius: 4px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    font-weight:bold;
    text-decoration: underline;
    color: #A4A400;
    background-color: #d6d6d6;
    padding: 1vh 4vw;
    margin: 2em 4vw;
}
h2{
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
    color: #A4A400;
    background-color: #d6d6d6;
    padding: 5px;
    margin: auto 4vw;
}
h3{
    color: #404040;
    background-color: #c8dee7;
    font-size: 14pt;
    text-align: left;
    text-decoration: underline;
    color: #61611e;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto 4vw;
}

p{
    color: #404040;
    font-size: 11pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 3em 5em;
}

li{
    list-style-position: inside;
    list-style-type: decimal;
    color: #404040;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em 2em;
}

blockquote{
    color: #404040;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 3em 0em;
    background-color: #d6d6d6;
}